VUE_APP_GOOGLE_CLIENT_ID_WEB=xxx
VUE_APP_GOOGLE_SIGNIN_SCOPE=xxx
#set empty value to cast as false (process.env cast to string no matter what)
VUE_APP_DEBUG=1
#WEBVIEW for debugging in the browser, native builds for Android & iOS; PWA for the pwa
#Default to WEBVIEW, but can be overridden by scripts in package.json if needed
VUE_APP_MODE=WEBVIEW
#for debugging PWA locally
VUE_APP_PWA_DEVELOPMENT_SERVER=http://localhost/
VUE_APP_MAPBOX_API_TOKEN=xxx
VUE_APP_ESRI_API_TOKEN=xxx
#
VUE_APP_DEPLOY=
#bypass uniqueness check for testing (1 or empty)
VUE_APP_BYPASS_UNIQUENESS=
