.modal-project-updater {
  .spinner-update {
    margin: 16px auto;
    display: block;
  }
  .progress-update {
    padding: 0 0 16px;
    ion-progress-bar {
      height: 10px;
    }
  }
  .updater-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .updater-done {
    display: block;
    padding-top: 24px;
  }
}
