[v-cloak] {
    display: none;
}
textarea:focus,
input:focus {
    outline-color: var(--ion-color-primary) !important;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}
ion-toolbar.toolbar-title {
    ion-title {
        font-size: 16px;
    }
}
.loader {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    &.loader-questions {
        position: relative;
        top: 32px; //2 * 16px
    }
}
.half-padding {
    padding: 8px;
    &.checkbox-padding {
        padding: 8px 4px 8px 8px;
    }
}
.half-padding-start {
    padding-left: 8px;
    &.radio-padding {
        padding: 8px !important;
    }
}
.half-padding-end {
    padding-right: 8px;
}
.half-padding-top {
    padding-top: 8px;
}
.half-padding-bottom {
    padding-bottom: 8px;
}

//Projects list
.projects-list {
    padding-top: 0;
    ion-avatar img,
    ion-avatar ion-img {
        border: 1px solid var(--ion-color-primary);
    }
    ion-item {
        padding: 10px 0;
        border-bottom: 1px solid var(--ion-color-light-shade);
    }
}

.list-entries {
    margin-bottom: 24px;
}

.list-entries-item {
    --padding-end: 4px !important;
    --padding-start: 4px !important;
    --inner-padding-end: 0px !important;
    --inner-padding-start: 0px !important;
    ion-grid {
        overflow: hidden;
    }
    ion-icon {
        font-size: 24px;
        vertical-align: sub;
    }
}
.list-entries-branch {
    border-top: 1px solid var(--ion-color-light-shade);
    ion-list {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    ion-grid {
        padding: 6px 12px;
    }
}
.project-header {
    //fix for PWA
    &.pwa {
        padding-left: 10px !important;
    }
    .project-logo {
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 8px;
        &:hover {
            cursor: pointer;
        }
    }
    span {
        vertical-align: middle;
        font-size: 14px;
    }
}
.button-quit,
.button-close {
    color: var(--ion-color-tertiary-tint) !important;
    font-weight: 700 !important;
    ion-icon {
        color: var(--ion-color-tertiary-tint) !important;
        font-weight: 700 !important;
    }
}
.button-open {
    color: #fff !important;
    font-weight: 700 !important;
    ion-icon {
        color: #fff !important;
        font-weight: 700 !important;
    }
}
ion-chip {
    border-radius: 5px;
    padding: 20px;
    &:hover {
        background-color: #fff !important;
    }
}
.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.clear {
    clear: both;
}
.disabled {
    opacity: 0.3;
}
.alert-confirm-multiple-android,
.alert-confirm-multiple-web {
    .alert-button-group {
        flex-direction: row !important;
    }
}
.entry-synced {
    color: var(--ion-color-success);
}
.entry-not-synced {
}
.entry-sync-error {
    color: var(--ion-color-danger);
}
.entry-incomplete {
    color: var(--ion-color-warning);
}

.entry-synced,
.entry-not-synced,
.entry-sync-error,
.entry-incomplete {
    margin-right: 8px;
}
.icon-error-entries {
    vertical-align: sub;
    font-size: 24px;
}
.text-danger {
    color: var(--ion-color-danger);
}

ion-toolbar.form-name {
    ion-title.form-name-label,
    ion-title.form-name-label-errors {
        text-transform: uppercase;
        padding: 10px 10px 10px 13px;
        font-weight: 700;
    }
    ion-title.form-name-label {
        font-size: 14px;
    }
    ion-title.form-name-label-errors {
        font-size: 12px;
    }
    --background: none;
    --padding-bottom: 0;
    --padding-top: 0;
    --min-height: 40px; //does not go lower that this

    border-bottom: 1px solid var(--ion-color-light-shade);
}
ion-item-divider.entry-name,
ion-item-divider.entry-title {
    background-color: #fff !important;
    padding: 0;
    ion-label {
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0 16px;
    }
}

ion-item-divider.entry-error,
ion-item-divider.entry-incomplete {
    ion-label {
        width: 100%;
    }
}

ion-item-divider.form-name {
    background-color: #fff !important;
    padding: 0 !important;
    ion-label.form-name-label {
        width: 100%;
        text-transform: uppercase;
        padding: 16px;
    }
    background: none;
    font-weight: 700;
    color: var(--ion-color-dark);
    ion-toolbar {
        --background: none;
        --padding-bottom: 0;
        --padding-top: 0;
        --min-height: 40px;
    }
}

.settings-label {
    padding: 8px;
    background-color: var(--ion-color-primary-tint);
    ion-card-title {
        font-size: 14px;
    }
    ion-card-title,
    ion-card-subtitle {
        color: #fff;
    }
}
//we use this to center the subheader title
.toolbar-spacer {
    visibility: hidden;
}
.settings-input-label {
    font-size: 16px;
}
.full-width {
    width: 100%;
}
.item-divider-label-centered {
    width: 100%;
    text-align: center;
}
ion-select {
    --placeholder-opacity: 1 !important;
    color: #333;
    border: 1px solid var(--ion-color-medium-shade);
    border-radius: 5px;
    background-color: var(--ion-color-secondary);
    font-size: 16px;
    font-weight: 700;
}
.icon-danger {
    color: var(--ion-color-danger);
}
.icon-warning {
    color: var(--ion-color-warning);
}
.icon-primary {
    color: var(--ion-color-primary);
}
.icon-secondary {
    color: var(--ion-color-secondary);
}
.icon-tertiary {
    color: var(--ion-color-tertiary-tint);
}
//visual cue when filling in a branch or viewing one
#entries-branch-add,
#entries-view-branch {
    border: 8px solid var(--ion-color-tertiary);
}
.answer-card {
    margin-top: 16px;
    ion-card-content {
        padding: 16px;
        min-height: 50px;
        color: #333;
    }
    .answer-error {
        color: var(--ion-color-danger);
    }
    // width: 100%;
}
.answer-label {
    // padding: 4px 0 0 4px;
    background-color: var(--ion-color-primary-tint);
    ion-card-title,
    ion-title,
    ion-card-subtitle {
        font-size: 16px;
        color: #fff;
    }
    .has-popover {
        span {
            width: 80%;
        }
        .question-popover-button {
            vertical-align: middle;
        }
    }
    .answer-label-question {
        white-space: normal;
        padding: 4px;
    }
    &.has-error {
        background-color: var(--ion-color-danger) !important;
    }
    .answer-label-button-ripple {
        height: 48px !important;
    }
}
.answer-group {
    //background-color: pink;
}
.answer-card-group {
    padding: 0 !important;
}
.answer-list {
    padding-top: 0 !important;
}
.answer-button-edit {
    font-size: 24px;
    margin-top: 2px;
}
.answer-item-text {
    padding-right: 8px;
}
.force-no-padding {
    padding: 0 !important;
}
.force-padding {
    padding: 16px !important;
}
@media screen and (max-width: 400px) {
    .answer-button-edit {
        // margin-left: -8px !important;
    }
}
.entries-upload-errors {
    ion-chip {
        height: auto;
        font-size: 16px;
        ion-icon {
            //  font-size: 36px;
        }
    }
}
.subheader-error {
    padding: 0 8px;
    color: #fff;
    background-color: var(--ion-color-danger);
    ion-icon {
        vertical-align: middle;
        margin-top: -4px;
    }
}
.subheader-success {
    padding: 0 8px;
    color: #fff;
    background-color: var(--ion-color-success-tint);
    ion-icon {
        vertical-align: middle;
        margin-top: -4px;
    }
}
.subheader-default {
    padding: 0 8px;
    border-bottom: 1px solid var(--ion-color-light-shade);
    ion-icon {
        vertical-align: middle;
        margin-top: -4px;
    }
}
.need-ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.list-entries-item-row {
    border-bottom: 1px solid var(--ion-color-light-shade);
}
.list-entries-item-title {
    padding: 8px 0;
    ion-icon {
        //  vertical-align: bottom;
    }
    // border-bottom: 1px solid var(--ion-color-light-shade);
}
.list-entries-filters {
    padding: 6px 0;

    .filters-count {
        color: #333;
        font-weight: 700;
        font-size: 13px;
        span {
            font-weight: 700;
            color: white;
            padding: 3px 5px;
            border-radius: 5px;
            background-color: var(--ion-color-tertiary);
            letter-spacing: 1px;
        }
    }
    ion-button {
        --opacity: 1 !important;
        //padding: 16px 10px;
    }
    ion-note {
        font-size: 14px;
        font-weight: 700;
        // padding: 16px 10px;
    }
}
.child-entries-item-button {
    --border-radius: 4px;
    font-weight: 700;
    --detail-icon-color: #333 !important;
}

button.child-entries-button {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--ion-color-secondary);
    text-transform: uppercase;
    font-weight: 700;
    span {
        width: 80%;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2;
        text-align: right;
    }
    ion-icon {
        float: right;
    }
    @media only screen and (max-width: 576px) {
        span {
            width: 65%;
        }
    }
}
.bookmark-title-error {
    visibility: visible;
    color: var(--ion-color-danger);
    text-align: center;
}
.bookmark-title-success {
    visibility: hidden;
}
ion-item.item-warning {
    --background: var(--ion-color-warning);
    font-size: 14px;
    --padding-start: 12px;
    --padding-end: 0px;
}
.center-item-content-wrapper {
    text-align: center !important;
    width: 100%;
}
.filter-by-title {
    height: 60px;
}
.spinner-filter {
    margin-top: 8px;
}
.spinner-fetch-projects {
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}
.filter-by-date-to,
.filter-by-date-from {
    --background: #fff;
    --color: #333;
    ion-title {
        font-size: 18px;
        margin-right: 5px;
    }
    ion-label {
        margin-right: 5px;
    }
    input[type="date"] {
        min-width: 170px;
    }
}
.line-divider {
    width: 100%;
    height: 1px;
    background-color: var(--ion-color-light-shade);
    margin: 5px 0;
}
.header-md::after {
    background-image: none;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 0.3s;
}
ion-item.entries-errors-item {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --inner-padding-end: 0 !important;
    ion-label {
        width: 90%;
    }
    div.branch-entries-errors-item {
        width: 100%;
        ion-label {
            width: 90%;
        }
    }
}
.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.toolbar-navigation-button {
    max-width: 120px;
}
//  Force text-wrap on <ion-select>
ion-select::part(placeholder),
ion-select::part(text) {
    white-space: normal !important;
}
// // Force text-wrap on <ion-select-option>'s when shown in an Ionic Alert
// ion-alert.select-alert {
//   // These widths are pretty arbitrary, so you're use-case(s) could required different widths:
//   --width: 33vw !important;
//   --max-width: 66vw !important;

//   .select-interface-option .alert-radio-label,
//   .select-interface-option .alert-checkbox-label {
//     white-space: normal !important;
//   }
// }
.user-label {
    padding: 8px 20px 12px 20px;
    border-bottom: 1px solid var(--ion-color-light-shade);
}
.item-answer-error {
    // border: 3px solid var(--ion-color-danger);
    ion-card-header {
    }
}
textarea {
    resize: none;
    font-size: 16px;
}
.beta-toolbar {
    --ion-padding-top: 8px;
    --ion-padding-bottom: 8px;
    height: 36px;
    --min-height: 36px;
    ion-title,
    div {
        text-transform: uppercase;
        font-size: 13px;
    }
}
.pwa-margin-fix {
    margin-top: -15px !important;
}
