[v-cloak] {
    display: none;
}

textarea:focus,
input:focus {
    outline-color: var(--ion-color-primary) !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

ion-card-content {
    padding-top: 16px;
}

ion-chip {
    border-radius: 5px;
    padding: 20px;
    &:hover {
        background-color: #fff !important;
    }
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.clear {
    clear: both;
}

.disabled {
    opacity: 0.3;
}

.force-no-padding {
    padding: 0 !important;
}

.force-padding {
    padding: 16px !important;
}

.full-width {
    width: 100%;
}

.need-ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.unwrap-fix {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.text-danger {
    color: var(--ion-color-danger);
}

.animate__animated.animate__fadeIn {
    --animate-duration: 0.3s;
}

.header-md::after {
    background-image: none;
}

.plt-ios {
    .datetime-value {
        padding: 6px 0;
    }
}

.card-content-md {
    padding-top: 16px !important;
}

textarea {
    resize: none;
    font-size: 16px;
}

.ec5LoadingTitle,
.ec5LoadingMessage {
    white-space: pre-line !important;
}

.alert-confirm-multiple-android,
.alert-confirm-multiple-web {
    .alert-button-group {
        flex-direction: row !important;
    }
}
