.zoom-0 {
    zoom: 100% !important;
}
.zoom-1 {
    zoom: 110% !important;
    -webkit-text-size-adjust: auto !important;
}
.zoom-2 {
    zoom: 120% !important;
    -webkit-text-size-adjust: auto !important;
}
.zoom-3 {
    zoom: 130% !important;
    -webkit-text-size-adjust: auto !important;
}
.zoom-4 {
    zoom: 140% !important;
    -webkit-text-size-adjust: auto !important;
}
.zoom-5 {
    zoom: 150% !important;
    -webkit-text-size-adjust: auto !important;
}
html,
.scroll {
    -webkit-text-size-adjust: auto !important;
}
