@use '@/theme/mixins' as *;

.question-card {
    @include question-card-base;
}

.question-label {
    @include question-label-base;
}

.question-location-grid {
    @include question-location-grid-base;
}

.leaflet-map-wrapper {
    @include leaflet-map-base;
}

.lat-long-controls,
.address-controls {
    @include lat-long-controls-base;
}

.leaflet-control-locate-me {
    @include leaflet-control-locate-me-base;
}

.leaflet-control-layers-list {
    text-align: left;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 30px;
    height: 30px;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(@/leaflet/images/layers@2x.png) !important;
    background-size: 26px 26px !important;
    width: 30px !important;
    height: 30px !important;
}

.leaflet-control-layers-base {
    label {
        font-size: 16px;
    }
}

input.leaflet-control-layers-selector {
    margin: 5px;
    accent-color: var(--ion-color-primary) !important;
}

.item-question-location-edit {
    @include item-question-location-edit-base;
}
