//
//  env.xcconfig
//  App
//
//  Created by Mirko on 28/07/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//Google Sign In (IOS CLIENT ID)
REVERSED_CLIENT_ID=xxxxxxxxxxxxxxx
//Team ID, to be changed as needed
DEVELOPMENT_TEAM=xxxxxxxxxxx